$success: #c7f282;
$warning: #f1e681;
$error: #f08181;
$charcoal: #ccc;

.flash-success,
.flash-warning,
.flash-error {
  border: 1px solid $charcoal;
  display: block;
  left: 25%;
  padding: 30px;
  position: fixed;
  text-align: center;
  top: 15%;
  width: 50%;
  z-index: 1;
}

.flash-success {
  background-color: $success;
}

.flash-warning {
  background-color: $warning;
}

.flash-error {
  background-color: $error;
}

.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15% auto 0;
  max-width: 600px;

  h3,
  input {
    margin-bottom: 5%;
  }

  button {
    align-self: flex-end;
    max-width: 200px;
  }
}

.map {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: row nowrap;
  .sidebar {
    width: 25%;
  }
  #search {
    width: 75%;
    height: 2rem;
    font-size: 1rem;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  }
  #find-button {
    width: 25%;
    height: 2rem;
    font-size: 1rem;
    cursor: pointer;
  }
  .venuelist {
    padding: 1rem;
    .listitem {
      position: relative;
      list-style: none;
      font-size: 1rem;
      padding: .5rem;
      margin-top: 1rem;
      cursor: pointer;
      background: #006400;
      color: white;
      display: flex;
      align-items: center;
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
      .addbutton {
        margin-left: auto;
        margin-right: 0;
      }
    }
  }
}
